[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "immcp"]
	path = immcp
	url = https://github.com/yuanlonghu/immcp
	shallow = true
	registered = true
